body {
    background-color: black;
}

.centro {
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.lampada-spenta {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 42%;
    top: 10%;
}

.lampada-accesa {
    position: absolute;
    left: 39%;
    top: 10%;
}

.bg-stanza {
    background-image: url(../img/Vite-di-Foscarini.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
    opacity: 0.1;
}

.interruttore {
    position: absolute;
    left: 0%;
    bottom: 25%;
}

.opacita1 {
    opacity: 1;
}

.giochi-di-luce img {
    width: 120px;
}

.lampadina-accesa {
    width: calc(100%/6);
}

.lampadina-spenta {
    width: calc(100%/6);
}

.vibes {
    margin: 0 auto;
}