body {
    background-color: aquamarine;
}

.centro {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.lampada-spenta {
    width: 150px;
    height: 150px;
}